
<section class="banner">
   <div>            
    <h1>FullStack Developer</h1>
      <img src="/assets/img/foto-perfil.jpg" alt="Emiliano Perea FullStack Developer">
    </div>
                <p>
                   <span class="about">Hola soy Emiliano Perea FullStack Developer. </span> 
                    

                    Soy un desarrollador ubicado en Pilar, Córdoba , Argentina. 
                    
                    Tengo una gran pasión por los efectos de interfaz, las animaciones y la creación de experiencias de usario intuitivas y dinámicas.
                   

                    Persona bien organizada, solucionador de problemas , empleado independiente con gran atención a los detalles. Aficionado de la teconología.
                 

                    Mi interés se basa en seguir creciendo profesionalmente, trabajando en proyectos ambiciosos con personas positivas.
                </p>
                

            </section>