nav {

    img{
        height: 80px;
       } 
    background-color: rgb(58, 119, 141);
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        list-style: none;
       
        li {
            font-size: 30px;
            margin: 20px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            
         
        }


    }

}