<nav>
    <img src="/assets/img/arg-programa-icono.png" alt="Logo-Argentina-programa">
    <ul>
        <li [routerLink]="['/sobre-mi']">Sobre mi</li>
        <li [routerLink]="['/habilidades']">Habiliades</li>
        <li [routerLink]="['/proyectos']">Proyectos</li>
        <li [routerLink]="['/contactos']">Contacto</li>
     </ul>
     <ul>
        <li><a href="https://www.linkedin.com/in/mauro-emiliano-perea-75a248145/" target="_blank"><img src="/assets/img/linkedin.png" alt="Linkedin"></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100011742667510" target="_blank" ><img src="/assets/img/facebook.png" alt="Facebook"></a></li>
        <li><a href="https://www.instagram.com/emilianoperea10/"Target="_blank"><img src="/assets/img/instagram.png" alt="Instagram"></a></li>
        <li><a href="https://github.com/Emilianoperea1989"Target="_blank"><img src="/assets/img/github.png" alt="Github"></a></li>
     </ul>
</nav>