nav {
    border-bottom: solid black ;
    img{
        height: 80px;
       } 
    background-color: rgb(112, 128, 140);
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        list-style: none;
       
        li {
            font-size: 30px;
            margin: 20px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            
            img{
                width: 60px;
                height: 60px;
                
                
            }
         
           
        
        }


    }

}